.item {
  height: 60px;
  width: 60px;
  border-radius: 8px;
  box-shadow: 4px 3px 18px -3px rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: 4px 3px 18px -3px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 4px 3px 18px -3px rgba(0, 0, 0, 0.32);
}

.item:hover {
  cursor: pointer;
}
