.side-bar {
  height: 100%;
  background-color: #ffffff;
}

.side-bar__list {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  flex-wrap: wrap;
  padding: 8px;
  margin: 0;
}

.side-bar__list--item:hover {
  cursor: pointer;
}
